In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import geopandas as gpd 
import numpy as np

import matplotlib.pyplot as plt
import plotly.express as px

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import warnings
warnings.filterwarnings("ignore")

In [4]:
import sys
sys.path.append("../") 

from utils.paths import make_dir_line

modality = 'u'
project = 'Ciencia de los datos'
data = make_dir_line(modality, project)

raw = data('raw')
processed = data('processed')

In [19]:
ter = pd.read_parquet(processed / 'ter.parquet.gzip')
ter['Territory'] = ter['Territory'].str.title()
ter['Territory'] = ter['Territory'].str.replace('Centro (I)','Centro')
# ter.to_csv('ter.csv', encoding = 'utf-8-sig', index = False)
ter.head()

  ITTER107   Territory
0       IT       Italy
2     ITCD        Nord
4      ITC  Nord-Ovest
6     ITC1    Piemonte
8    ITC11      Torino

In [6]:
chunk = pd.read_parquet(processed / 'chunk.parquet.gzip')
chunk.head()

  ITTER107  SEXISTAT1  Age  STATCIV2     Value
0       IT          1    0         1  205371.0
1       IT          2    0         1  195255.0
2     ITCD          1    0         1   94721.0
3     ITCD          2    0         1   89834.0
4      ITC          1    0         1   53931.0

In [7]:
chunk.shape

(9729610, 5)

In [9]:
geo = gpd.read_file(raw / "Limiti01012023_g/RipGeo01012023_g/RipGeo01012023_g_WGS84.shp")
geo.geometry = geo.geometry.to_crs(epsg = 4326)
geo.head()

,COD_RIP,DEN_RIP,Shape_Leng,Shape_Area,geometry
0,1,Nord-Ovest,2.330183e+06,5.792958e+10,"MULTIPOLYGON (((9.85132 44.02340, 9.85122 44.0..."
1,2,Nord-Est,2.327765e+06,6.238509e+10,"MULTIPOLYGON (((10.48080 44.18949, 10.48069 44..."
2,3,Centro,2.010203e+06,5.801865e+10,"MULTIPOLYGON (((13.45526 40.78719, 13.45309 40..."
3,4,Sud,2.517097e+06,7.377795e+10,"MULTIPOLYGON (((15.80124 39.69743, 15.80108 39..."
4,5,Isole,2.775538e+06,4.991778e+10,"MULTIPOLYGON (((12.55987 35.50930, 12.55969 35..."

In [15]:
lista_verificacion = geo['DEN_RIP'].unique()
lista_verificacion

array(['Nord-Ovest', 'Nord-Est', 'Centro', 'Sud', 'Isole'], dtype=object)

In [16]:
df_incluidos = ter[ter['ITTER107'].isin(lista_verificacion)]
df_incluidos.head()

Empty DataFrame
Columns: [ITTER107, Territory]
Index: []

In [17]:
df_incluidos = ter[ter['Territory'].isin(lista_verificacion)]
df_incluidos.head()

    ITTER107   Territory
4        ITC  Nord-Ovest
62       ITD    Nord-Est
174      ITF         Sud
234      ITG       Isole

In [ ]:
print('Vane')