In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import polars as pl
import geopandas as gpd 
import numpy as np
import re
import time

import matplotlib.pyplot as plt
import plotly.express as px

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import warnings
warnings.filterwarnings("ignore")

In [3]:
import sys
sys.path.append("../") 

from utils.paths import make_dir_line

modality = 'u'
project = 'Ciencia de los datos'
data = make_dir_line(modality, project)

raw = data('raw')
processed = data('processed')

In [9]:
ter = pd.read_parquet(processed / 'g3.parquet.gzip')
ter.head()

  ITTER107     DEN_PROV  COD_PROV
0    ITC12     Vercelli         2
3    ITC15       Novara         3
4    ITC16        Cuneo         4
5    ITC17         Asti         5
6    ITC18  Alessandria         6

In [10]:
geo = gpd.read_file(raw / "Limiti01012023_g/Reg01012023_g/Reg01012023_g_WGS84.shp")
geo.geometry = geo.geometry.to_crs(epsg = 4326)
geo = geo.loc[:,['geometry','COD_REG','DEN_REG']]
geo.head()

In [ ]:
chunk = pd.read_parquet(processed / 'chunk.parquet.gzip')
chunk.head()

In [ ]:
print('Vane y Oscar')